*, ::after, ::before {
  box-sizing: border-box;
}

div {
  display: block;
}

/* Navbar container 
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
*/
/* Links inside the navbar 
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
*/
/* The dropdown container 
.dropdown {
  float: left;
  overflow: hidden;
}
*/
/* Dropdown button 
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: red;
  font-family: inherit; 
  margin: 0; 
}
*/

/* Important for vertical align on mobile phones */
/* Important for vertical align on mobile phones */

/* Add a red background color to navbar links on hover 
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
*/

/* Dropdown content (hidden by default) 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
*/

/* Links inside the dropdown 
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
*/

/* Add a grey background color to dropdown links on hover 
.dropdown-content a:hover {
  background-color: #ddd;
}
*/

/* Show the dropdown menu on hover 
.dropdown:hover .dropdown-content {
  display: block;
}
*/

body {
  background: #2a2a2b;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica;
}

.big {
  font-size: 1.2em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

/*  HTML Links */
a:link {
  color: #1abc9c;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 20px;
}

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}

header {
    text-align: center;
}

/*
footer {
  position: fixed;
  bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 15px;
	background: rgba(26, 44, 53, 1);
	color: #f9faf9;
}
*/

footer p {
	text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1440px!important;
}

element.style {
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.ts-state-site__description {
  padding-right: 48px!important;
}

.ts-cards {
  margin-bottom: 32px!important;
  border-top: 4px solid #a8d0e6!important;
  box-shadow: 0 5px 8px rgba(0,0,0,.15);
  box-shadow: 0 5px 8px rgba(0,0,0,.15);
  
  moz-box-shadow: 0 5px 8px rgba(0,0,0,.15);
  padding: 0!important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mb-0, .my-0 {
  margin-bottom: 0!important;
}

.me {
	display: block;
}

.citation {
	margin: 5px 10px;
}

/*
footer a {
	color: #f9faf9;
}

footer a:hover {
	color: #ff7c2b;
}

footer {
  height: 50px;
}
*/

.me {
  position: absolute;
  left: 10px;
  bottom: 0;
}

.citation {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.schedule {
  display: flex;
  padding-left: 0;
  
}

.schedule-item {
  margin: 0 10px;
  list-style: none;
}